<section class="blog-list mtb-40">
    <div class="container">
      <h1>{{title}}</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let a of activelist">
          <div class="blog-box">
            <img [src]="['http://localhost:3636/uploads/'+ a.image]" alt="blog1" class="rounded"/>
            <h3>{{a.title}}</h3>
            <p>by <span>{{a.title}}</span> on <span>{{a.created_at | date:'mediumDate'}}</span></p>
            <p>{{a.description}}</p>
            <a [routerLink]="['/blog']" class="btn btn-danger">Read more...</a>
          </div>
        </div>
     
      </div>
    </div>
  </section>